header{
 
  background-color: blue;
}

h1{
text-align: center;
font-size: 3em;
color: black;
padding: 20px;
border: medium solid gray;
margin: auto;
}
body{
  width: 75%;
  margin:auto;
  background-color: black;
}
h2{
  text-align: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2em;
  background-color: rgb(156, 156, 202);
  box-sizing: border-box;
  padding: 10px;
  

}
p{
  padding: 5px;
  background-color: purple;
  color: wheat;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
div{
padding: 1px;
font-family: fantasy;
background-color: blanchedalmond;
}
footer{
  display: block;
    text-align: center;
}
img{
  position: fixed;
display: block;
bottom: 0;
padding: 20px;
  margin-left: auto;
  height: 200px;
  width: 200px;
}
h3{
  font-size: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(156, 156, 202);
  box-sizing: border-box;
  padding: 10px;
  font-weight: bold;
}
ol{
  list-style-position: inside;
  font-family: initial;
background-color: rgb(54, 9, 54);
color: white;
list-style: decimal-leading-zero
}
li{
  padding: 2px;
}
ul{
  list-style-position: inside;
  font-family: monospace;
  background-color: black;
  color:white;
  list-style: disc;
  }
  
  